@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato&display=swap');


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.openpage-text {
    text-align: center;
    color: #555555;
    font-family: "Architects Daughter";
}

.hand-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: 75%;
    -webkit-animation-name: hand-zoom;
            animation-name: hand-zoom;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    margin-top: 50px;
}
@-webkit-keyframes hand-zoom {
    from{
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    to{
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
}
@keyframes hand-zoom {
    from{
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    to{
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
}

.brand-logo {
    margin-left: 20px;
    color: #555555;
    font-family: "Architects Daughter";
}

/*------Footer Styling-*/
.footer-text {
    text-align: center;
    color: grey;
    bottom: 0px;}


.m {color: red;}
.y {color: orangered;}
.p {color: orange;}
.a {color: pink;}
.s {color: purple;}
.t{color: blue;}

tab1 {
    display: inline-block;
    margin-left: 82px;
}
tab2 {
    display: inline-block;
    margin-left: 55px;
}
tab3 {
    display: inline-block;
    margin-left: 35px;
}
tab4 {
    display: inline-block;
    margin-left: 20px;
}
tab5 {
    display: inline-block;
    margin-left: 39px;
}
tab6 {
    display: inline-block;
    margin-left: 52px;
}
tab7 {
    display: inline-block;
    margin-left: 77px;
}