{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

 <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.first_name  }}  {{ task.last_name  }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ task.age }}</strong><br>
                <strong>{{ task.address }}</strong><br>
                <strong>{{ task.nationality }}</strong><br>
                <strong>{{ task.created_by }}</strong><br>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}